@charset "utf-8";

$brand-color:           #828282 !default;
$brand-color-light:     lighten($brand-color, 40%) !default;
$brand-color-dark:      darken($brand-color, 25%) !default;

// $site-title-color:      $brand-color-dark !default;

$text-color:            #111111 !default;
$background-color:      #fdfdfd !default;
$code-background-color: #fafafa !default;

$site-title-color:      $text-color !default;

$link-base-color:       #2a7ae2 !default;
$link-visited-color:    darken($link-base-color, 15%) !default;
$link-hover-color:      $text-color !default;

$border-color-01:       $brand-color-light !default;
$border-color-02:       lighten($brand-color, 35%) !default;
$border-color-03:       $brand-color-dark !default;

$table-text-color:      lighten($text-color, 18%) !default;
$table-zebra-color:     lighten($brand-color, 46%) !default;
$table-header-bg-color: lighten($brand-color, 43%) !default;
$table-header-border:   lighten($brand-color, 37%) !default;
$table-border-color:    $border-color-01 !default;


// Syntax highlighting styles should be adjusted appropriately for every "skin"
// ----------------------------------------------------------------------------

$sol-base03:   #002b36;  // 15 -12 -12
$sol-base02:   #073642;  // 20 -12 -12
$sol-base01:   #3e999f;  // 45 -07 -07
$sol-base00:   #657b83;  // 50 -07 -07
$sol-base0:    #839496;  // 60 -06 -03
$sol-base1:    #93a1a1;  // 65 -05 -02
$sol-base2:    #eee8d5;  // 92 -00  10
$sol-base3:    #fdf6e3;  // 97  00  10
$sol-yellow:   #b58900;  // 60  10  65
$sol-orange:   #cb4b16;  // 50  50  55
$sol-red:      #dc322f;  // 50  65  45
$sol-magenta:  #d33682;  // 50  65 -05
$sol-violet:   #6c71c4;  // 50  15 -45
$sol-blue:     #268bd2;  // 55 -10 -45
$sol-num:      #eab700;  // 60 -35 -05
$sol-green:    #859900;  // 60 -20  65

$sol-mono3:    $sol-base3;
$sol-mono2:    $sol-base2;
$sol-mono1:    $sol-base1;
$sol-mono00:   $sol-base00;
$sol-mono01:   $sol-base01;

.highlight {
  .c     { color: $sol-mono1; font-style: italic } // Comment
  .err   { color: $sol-red } // Error
  .k     { color: $sol-mono01; } // Keyword
  .o     { color: $sol-mono01; } // Operator
  .cm    { color: $sol-mono1; font-style: italic } // Comment.Multiline
  .cp    { color: $sol-mono1; } // Comment.Preproc
  .c1    { color: $sol-mono1; font-style: italic } // Comment.Single
  .cs    { color: $sol-mono1; font-style: italic } // Comment.Special
  .gd    { color: $sol-red } // Generic.Deleted
  .gd .x { color: $sol-red } // Generic.Deleted.Specific
  .ge    { color: $sol-mono00; font-style: italic } // Generic.Emph
  .gr    { color: $sol-red } // Generic.Error
  .gh    { color: $sol-mono1 } // Generic.Heading
  .gi    { color: $sol-green } // Generic.Inserted
  .gi .x { color: $sol-green } // Generic.Inserted.Specific
  .go    { color: $sol-mono00 } // Generic.Output
  .gp    { color: $sol-mono00 } // Generic.Prompt
  .gs    { color: $sol-mono01; } // Generic.Strong
  .gu    { color: $sol-mono1 } // Generic.Subheading
  .gt    { color: $sol-red } // Generic.Traceback
  .kc    { color: $sol-mono01; } // Keyword.Constant
  .kd    { color: $sol-mono01; } // Keyword.Declaration
  .kp    { color: $sol-mono01; } // Keyword.Pseudo
  .kr    { color: $sol-mono01; } // Keyword.Reserved
  .kt    { color: $sol-violet; } // Keyword.Type
  .m     { color: $sol-num } // Literal.Number
  .s     { color: $sol-magenta } // Literal.String
  .na    { color: $sol-num } // Name.Attribute
  .nb    { color: $sol-blue } // Name.Builtin
  .nc    { color: $sol-violet; } // Name.Class
  .no    { color: $sol-num } // Name.Constant
  .ni    { color: $sol-violet } // Name.Entity
  .ne    { color: $sol-violet; } // Name.Exception
  .nf    { color: $sol-blue; } // Name.Function
  .nn    { color: $sol-mono00 } // Name.Namespace
  .nt    { color: $sol-blue } // Name.Tag
  .nv    { color: $sol-num } // Name.Variable
  .ow    { color: $sol-mono01; } // Operator.Word
  .w     { color: $sol-mono1 } // Text.Whitespace
  .mf    { color: $sol-num } // Literal.Number.Float
  .mh    { color: $sol-num } // Literal.Number.Hex
  .mi    { color: $sol-num } // Literal.Number.Integer
  .mo    { color: $sol-num } // Literal.Number.Oct
  .sb    { color: $sol-magenta } // Literal.String.Backtick
  .sc    { color: $sol-magenta } // Literal.String.Char
  .sd    { color: $sol-magenta } // Literal.String.Doc
  .s2    { color: $sol-magenta } // Literal.String.Double
  .se    { color: $sol-magenta } // Literal.String.Escape
  .sh    { color: $sol-magenta } // Literal.String.Heredoc
  .si    { color: $sol-magenta } // Literal.String.Interpol
  .sx    { color: $sol-magenta } // Literal.String.Other
  .sr    { color: $sol-green } // Literal.String.Regex
  .s1    { color: $sol-magenta } // Literal.String.Single
  .ss    { color: $sol-magenta } // Literal.String.Symbol
  .bp    { color: $sol-mono1 } // Name.Builtin.Pseudo
  .vc    { color: $sol-num } // Name.Variable.Class
  .vg    { color: $sol-num } // Name.Variable.Global
  .vi    { color: $sol-num } // Name.Variable.Instance
  .il    { color: $sol-num } // Literal.Number.Integer.Long
}
// Syntax highlighting styles
// --------------------------
/*
.highlight {
  .c     { color: #998; font-style: italic } // Comment
  .err   { color: #a61717; background-color: #e3d2d2 } // Error
  .k     { } // Keyword
  .o     { } // Operator
  .cm    { color: #998; font-style: italic } // Comment.Multiline
  .cp    { color: #999; } // Comment.Preproc
  .c1    { color: #998; font-style: italic } // Comment.Single
  .cs    { color: #999;; font-style: italic } // Comment.Special
  .gd    { color: #000; background-color: #fdd } // Generic.Deleted
  .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: #a00 } // Generic.Error
  .gh    { color: #999 } // Generic.Heading
  .gi    { color: #000; background-color: #dfd } // Generic.Inserted
  .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
  .go    { color: #888 } // Generic.Output
  .gp    { color: #555 } // Generic.Prompt
  .gs    { } // Generic.Strong
  .gu    { color: #aaa } // Generic.Subheading
  .gt    { color: #a00 } // Generic.Traceback
  .kc    { } // Keyword.Constant
  .kd    { } // Keyword.Declaration
  .kp    { } // Keyword.Pseudo
  .kr    { } // Keyword.Reserved
  .kt    { color: #458; } // Keyword.Type
  .m     { color: #099 } // Literal.Number
  .s     { color: #d14 } // Literal.String
  .na    { color: #008080 } // Name.Attribute
  .nb    { color: #0086B3 } // Name.Builtin
  .nc    { color: #458; } // Name.Class
  .no    { color: #008080 } // Name.Constant
  .ni    { color: #800080 } // Name.Entity
  .ne    { color: #900; } // Name.Exception
  .nf    { color: #900; } // Name.Function
  .nn    { color: #555 } // Name.Namespace
  .nt    { color: #000080 } // Name.Tag
  .nv    { color: #008080 } // Name.Variable
  .ow    { } // Operator.Word
  .w     { color: #bbb } // Text.Whitespace
  .mf    { color: #099 } // Literal.Number.Float
  .mh    { color: #099 } // Literal.Number.Hex
  .mi    { color: #099 } // Literal.Number.Integer
  .mo    { color: #099 } // Literal.Number.Oct
  .sb    { color: #d14 } // Literal.String.Backtick
  .sc    { color: #d14 } // Literal.String.Char
  .sd    { color: #d14 } // Literal.String.Doc
  .s2    { color: #d14 } // Literal.String.Double
  .se    { color: #d14 } // Literal.String.Escape
  .sh    { color: #d14 } // Literal.String.Heredoc
  .si    { color: #d14 } // Literal.String.Interpol
  .sx    { color: #d14 } // Literal.String.Other
  .sr    { color: #009926 } // Literal.String.Regex
  .s1    { color: #d14 } // Literal.String.Single
  .ss    { color: #990073 } // Literal.String.Symbol
  .bp    { color: #999 } // Name.Builtin.Pseudo
  .vc    { color: #008080 } // Name.Variable.Class
  .vg    { color: #008080 } // Name.Variable.Global
  .vi    { color: #008080 } // Name.Variable.Instance
  .il    { color: #099 } // Literal.Number.Integer.Long
}
*/
